/* SignUp.module.css */
.signupContainer {
    background-color: #dfdfdf; /* Fondo gris claro para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrar el contenedor */
    padding: 2rem; /* Padding interno */
    margin-top: 2rem;
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
    
}

.signupForm {
    width: 100%;
    max-width: 400px; /* Limita el ancho máximo del formulario */
}

.logo {
    width: 50%;
    max-width: 150px;
}

.inputGroup {
    width: 100%;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.label {
    font-weight: bold; /* Negrita para las etiquetas */
    font-size: 0.9rem; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

.input {
    width: 100%; /* Asegurar que el input ocupe todo el ancho disponible */
    padding: 0.5rem; /* Padding interno del input */
    font-size: 1rem; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
}

.input:focus {
    border-color: #000000; /* Color del borde al enfocar */
    box-shadow: 0 0 4px rgba(3, 85, 172, 0.25); /* Sombra al enfocar */
}

.errorContainer {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ancho completo del contenedor */
    margin-top: 0.5rem; /* Separación superior */
}

.error {
    color: #000000; /* Color rojo para los errores */
    font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.buttonLogin {
    
    width: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar un efecto de elevación */
    background-color: #949494 !important; /* Asegura que el color de fondo del botón sea rojo */
    color: rgb(255, 255, 255); /* Color del texto del botón */
    border: none; /* Elimina el borde del botón si es necesario */  
    border-radius: 4px; /* Opcional: Redondea las esquinas del botón */
    font-size: 1em; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    justify-content: center;
    align-items: center;
  
}
.centered{
    align-items: center;
    justify-content: center !important;
}