paletaDeColores{
    color: #627254;
    color: #76885B;
    color: #999999;
    color: #cccccc;
    color: #EEEEEE;
    color: #DDDDDD;
    color: #76885bc5

}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-bottom: 5px;
   
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    width: 300px; /* Limita el ancho de la tarjeta */
    word-wrap: break-word;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    
}
.Card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar un efecto de elevación */
}

.Card img {
    width: 200px;
    border-radius: 10px;
    margin-top: 5px;
}

.Card button {
    background-color:  #76885bc5;
    font-size: large;
    font-weight: bold;
    width: 80%;
    height: 40px;
    border-radius: 8px;
    font-family: sans-serif;  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
   border-color: #cccccc;
    
}

.Card p{
    text-align: center; 
    max-width: 250px; 
    margin: 0; 
    height: 2em; 
    line-height: 1.2em;
    
} 

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}