.formContainer {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column; /* Cambiado de wrap a column */
  gap: 1rem; /* Espacio entre los campos del formulario */
}

.pField {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  gap: 0.5rem; /* Espacio entre el label y el campo de entrada */
  width: 100%;
}

.pField label {
  font-size: 1rem;
  font-weight: bold;
}

.pField .p-inputtext,
.pField .p-dropdown,
.pField .p-multiselect,
.pField .p-inputtextarea,
.pField .p-fileupload {
  width: 100%;
  border-radius: 4px; /* Bordes redondeados para los campos */
  border: 1px solid #ccc; /* Borde gris claro para los campos */
  padding: 0.5rem; /* Espaciado interno */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra interna para un efecto de profundidad */
}

.pField .p-card-footer {
  margin-top: 1rem;
  text-align: center;
}

.searchInput {
  width: 100%;
  margin-bottom: 10px; /* espacio entre el input y el botón */
}

.fullWidth {
  width: 100%;
}

.pFieldButton:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

.pFieldButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.imagePreview {
  width: 100%;
  margin-bottom: 1rem;
}

.imagePreview img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sizeFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.searchButton {
  justify-content: center;
  background-color: #949494;
  font-size: bold;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: white;
  border: none;
  cursor: pointer;
}
.searchButton:hover {
  background-color: #b0b0b0;
}

.separated{
  margin-left: 3rem;
}
